:root {
  --very-dark-navy: rgb(11, 13, 23);
  --light-blue: rgb(208, 214, 249);
  --transition-duration-S: 0.25s;
  --transition-duration-M: 0.5s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
}

html {
  font-size: 1rem;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.backgroundImage {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
